.buttonSelectionFrame,
.category1 {
  box-sizing: border-box;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.buttonSelectionFrame {
  width: 1251px;
  flex-direction: row;
  padding: 0 var(--padding-lg);
  max-width: 100%;
}
.category1 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  overflow: hidden;
  flex-direction: column;
  padding: 0 0 var(--padding-18xl);
  gap: 106px 0;
  letter-spacing: normal;
}
@media screen and (max-width: 750px) {
  .category1 {
    gap: 106px 0;
  }
}
@media screen and (max-width: 450px) {
  .category1 {
    gap: 106px 0;
  }
}
